UserSettings/Layouts/default-2021.dwlt
/UserSettings/
/[Tt]emp/
/[Oo]bj/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/UserSettings/

.vs/
.vscode/
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
/.idea
/Library
/ProjectSettings
.vsconfig
